.list {
  display: block;
  box-sizing: content-box;
  border-collapse: collapse;
  min-height: 100px;
  min-width: 75px;
}

.control-style {
  width: 300px;
  height: 485px;
  text-align: left;
  background-color: #3B3738;
  color: #FFFFF0;
  border: 2px solid #696969;
}

.list-grouper {
  padding: 0;
  margin: auto;
  overflow: auto;
  list-style-type: none;
  height: 100%;
}

.list-item {
  border: 0;
  height: 40px;
  padding-top: 20px;
  padding-left: 10px;
}

.list-focus {
  color: white;
  background-color: #585858;
}

.list-default {
  background-color: rgba(0, 0, 0, 0);
}
