.list {
  display: block;
  box-sizing: content-box;
  border-collapse: collapse;
  min-height: 100px;
  min-width: 75px;
}

.control-style {
  width: 225px;
  height: 300px;
  text-align: left;
  background-color: #3B3738;
  color: #FFF8DC;
  border: 2px solid #696969;
}

.list-grouper {
  padding: 0;
  margin: auto;
  overflow-x: hidden;
  overflow-y: auto;
  list-style-type: none;
  height: 100%;
}

.list-item {
  border: 0;
  height: 28px;
  padding: 14px 0px 7px 10px;
}

.list-item:hover {
  color: #F8F8FF;
  cursor: pointer;
}

.list-focus {
  background-color: #585858;
}

.list-default {
  background-color: rgba(0, 0, 0, 0);
}

.item-icon {
  padding: 2px 0;
  height: 16px;
  width: 16px;
}

.item-icon-warpper {
  display: inline-block;
  float: left;
}

.item-text-warpper {
  display: inline-block;
  padding-left: 10px;
}
