.list {
  display: block;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 50px;
  bottom: 100px;
  text-align: left;
  border: 2px solid #696969;
  box-sizing: content-box;
  border-collapse: collapse;
  min-height: 100px;
  min-width: 100px;
}

.list-grouper {
  padding-left: 0;
  list-style-type: none;
}

.list-item {
  border: 0;
  height: 40px;
  padding-top: 20px;
}

.list-focus {
  color: white;
  background-color: #585858;
}

.list-default {
  background-color: rgba(0, 0, 0, 0);
}
